html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    display: block;
    padding: 3px 20px;
    border: none;
    width: 100%;
    text-align: left;
}

.nav li > form > button.logout:hover, button.logout:active {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.navbar-inverse .btn-link:focus {
    color: #262626;
    text-decoration: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 5px 15px 5px 25px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.login-form {
    width: 385px;
    margin: 30px auto;
}

.field-loginform-rememberme > .checkbox {
    margin: 0;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

.registration-form {
    width: 600px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.list-group-item-heading {
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 70px;
}

.product-img-background {
    height: 180px;
    background-size: cover !important;
}

.product-img-small {
    border: 1px solid #ffffff;
    height: 100px;
    position: relative;
    top: 95px;
    left: 15px;
}

.list-group-item-heading a {
    color: inherit;
    text-decoration: none;
}

.list-group-item-heading a:hover {
    color: inherit;
    text-decoration: none;
}

.lead-price {
    margin-bottom: 0;
}

.product {
    -webkit-transition: box-shadow .2s;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.product:hover {
    -webkit-box-shadow: 0 3px 9px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, .2);
}

.pagination {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

::-webkit-scrollbar-track {
    width: 5px;
    border-radius: 2.5px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px;
    background-color: hsla(0, 0%, 62%, .2);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 2.5px;
    background-color: hsla(0, 0%, 62%, .7);
}

h4, .h4 {
    font-weight: bold;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.product-name {
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
}

.product-price {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

.product-tab {
    font-size: 25px;
    font-weight: bold;
}

.form-group, input[name="search"] {
    width: 100% !important;
}

#nav-form {
    transition: all .2s;
}

.no-padding {
    padding: 0 !important;
}